In [1]:
# Set up imports
import pandas as pd
import numpy as np
import re
import sys

In [13]:
# Load dataset
init_df = pd.read_csv(r"Standardized Data\Final.csv")
df = init_df.copy()

In [26]:
# Look through and check data
df.drop(columns=["Unnamed: 0"], inplace=True)

In [30]:
# Drop rows with empty text
df.dropna(subset=["Text"], inplace=True)
df.columns

Index(['Entity Type', 'Entity Name', 'City, State', 'Enforcement Action',
       'Date', 'Text', 'State Enforcing', 'Text Length', 'Processed?'],
      dtype='object')

In [29]:
# Add a new column to check if Text has been processed
df["Processed?"] = False

In [31]:
df.head(10)

,Entity Type,Entity Name,"City, State",Enforcement Action,Date,Text,State Enforcing,Text Length,Processed?
4,RM,"T. P. O. T. T., INC.","COLUMBUS, OH",NOTICE OF INTENT TO REVOKE,04/18/2001,STATE OF OHIO DEPARTMENT OF COMMERCE DIVISION ...,OH,8761,False
5,RM,"T. P. O. T. T., INC.","COLUMBUS, OH",REPORT AND RECOMMENDATION,01/22/2002,STALE OF Ohio Department of Commerce Bob Taft ...,OH,35918,False
6,RM,"T. P. O. T. T., INC.","COLUMBUS, OH",DIVISION ORDER,02/19/2002,STATE OF OHIO DEPARTMENT OF COMMERCE DIVISION ...,OH,4314,False
7,RM,ABC FINANCIAL SERVICES CORPORATION,"CORAOPOLIS, PA",DIVISION ORDER,02/26/2002,Ohio Department of Commerce Division of Financ...,OH,1981,False
8,RM,"MORTGAGE SPECIALISTS, INC.","NICHOLASVILLE, KY",DIVISION ORDER,02/26/2002,STATE OF OHIO DEPARTMENT OF COMMERCE DIVISION ...,OH,3259,False
9,SM,"A.J. INVESTMENTS, INC.","WILLOUGHBY, OH",DIVISION ORDER,02/26/2002,STATE OF OHIO DEPARTMENT OF COMMERCE DIVISION ...,OH,3090,False
10,SM,REGIONAL ACCEPTANCE CORPORATION,"GREENVILLE, NC",DIVISION ORDER,02/26/2002,STATE OF OHIO DEPARTMENT OF COMMERCE DIVISION ...,OH,3103,False
11,RM,"CMS HOME LOANS, LTD.","ELYRIA, OH",NOTICE OF INTENT TO FINE,03/11/2002,STATE OF OHIO DEPARTMENT OF COMMERCE DIVISION ...,OH,6165,False
12,RM,"FINANCIAL SOLUTIONS, INC.","FORT WAYNE, IN",NOTICE OF INTENT TO FINE,03/11/2002,fary $1750.00 DEPA DIVISION ( for fines to 77 ...,OH,5869,False
13,RM,"FINANCIAL SOLUTIONS, INC.","FORT WAYNE, IN",NOTICE OF INTENT TO FINE,03/11/2002,Bob Taft STATE OF OHIO Lt. Governor Jennette B...,OH,3862,False

In [23]:
df.loc[(df["Text"].str.contains("FINDINGS OF FACT")) & (df["State Enforcing"]=="MA") & (df["Enforcement Action"] == "TEMPORARY CEASE AND DESIST")].describe()

       Unnamed: 0   Text Length
count  149.000000    149.000000
mean   128.959732  17968.429530
std     64.740217   7143.675073
min      0.000000   8370.000000
25%     83.000000  14523.000000
50%    132.000000  15699.000000
75%    170.000000  18573.000000
max    267.000000  53305.000000

In [ ]:
# Function to extract text between two strings (CAPS SENSITIVE)
def extract_text(text, sub1, sub2):
    index_1 = text.index(sub1)
    index_2 = text.index(sub2)
    return text[index_1 + len(sub1): index_2]

## Beginning of Filtering Process

In [35]:
df.loc[(df["Text"].str.contains("FINDINGS OF FACT")) & (df["State Enforcing"]=="MA") & (df["Enforcement Action"] == "TEMPORARY CEASE AND DESIST") & (df["Text"].str.contains("CONCLUSION"))].describe

        Text Length
count    149.000000
mean   17968.429530
std     7143.675073
min     8370.000000
25%    14523.000000
50%    15699.000000
75%    18573.000000
max    53305.000000